---
---

body {
    margin: 80px;
    background: #efefef;
}

p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    a {
        color: black;
    }
}

object,
svg[is="custom-svg-icon"],
custom-html-icon {
    float: left;
    margin-right: 20px;
    border: 2px solid gray;
}

section {
    overflow: hidden;
    margin-bottom: 20px;
}

svg[is="custom-svg-icon"],
custom-html-icon {
    width: 100px;
    height: 100px;
}
